@import 'base';

#hero {
    margin: 2rem auto;

    p {
        margin-top: 40px;
        width: 70%;
        font-size: 27px;
        font-weight: 100;
        color: $black;
        line-height: 40px;
    }


    .hero-headtagline {
        color: rgba(255, 4, 4, 0.54);
        font-size: 3.0rem;
        width: 95%;
    }
}

#work {
    h2 {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 40px;;
    }
    a {
        color: $blue;
        padding: 0;
        font-weight: 400;
    }

    .work-desc {
        font-size: 18px;
        color: rgba(20, 20, 20, 0.54);
        line-height: 30px;
        width: 95%;
        margin-bottom: 20px;
    }

    .work-img {
        width: 100%;
        max-width: auto;
    }
}

@media (max-width: 832px) {
    #hero {
        .hero-headtagline {
            font-size: 2.4rem;
        }
        p {
            margin-top: 40px;
            width: 100%;
            font-size: 1.5rem;
            line-height: 35px;
        }
    }

    #work {
        .work-desc-wrap {
            margin-bottom: 20px;
        }
    }
}


@media (max-width: 672px) {
    #hero {
        margin: 0 auto;
        padding: 0;
        .hero-headtagline {
            font-size: 1.7rem;
        }
        p {
            width: auto;
            font-size: 1.2rem;
            font-weight: 100;
            color: rgba(0, 0, 0, 0.54);
            line-height: 32px;
        }
    }
}

@media (max-width: 320px) {
    .container {
        width: auto;
        margin: 0rem 1rem;
    }
    #hero {
        margin: 0 1rem;
        padding: 0;

        p {
            margin-top: 15px;
            width: auto;
            line-height: 24px;
            font-size: 1rem;
        }
        .hero-headtagline {
            font-size: 1.2rem;
            width: auto;
        }
    }
    #work {
        h2 {
            margin-bottom: 20px;
            margin-top: 10px;
        }
        .work-desc {
            font-size: 1rem;
        }
    }
}